<%= form_tag event_tickets_path do %>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <table class="table">
        <th> Ticket Type </th>
        <th> Unit Price </th>
        <th> Quantity </th>

        <% @event.ticket_types.each do |type| %>
        <tr>
          <td> <%= type.name %> </td>
          <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
          <td> <%= select_tag("ticket_quantity[#{type.id}]", options_for_select(0..10)) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= submit_tag "Buy", class: "btn btn-sucess btn-lg btn-block"%>
    </div>
  </div>
<% end %>
